.general-body{
    width:fit-content;
    height:fit-content;
    display:flex;
    flex-direction:column;
    margin: 0px;
}
.general-header{
    width:100%;
    height: fit-content;
    display: flex;
    justify-content: flex-start;
    flex-grow: 1;
    background-color:white;
    border-bottom: 1px solid;
    padding-bottom: 25px;
}
.general-header div{
    display: flex;
    align-items: center;
    border: 1px solid;
    margin: 20px;
    margin-right: 150px;
    padding: 10px;
    padding-right: 20px;
    background-color:lightgray
}
.general-content{  
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-grow: 3

}
.general-content nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow:1;
    padding-top: 20px;
    border: 1px solid;
    background-color: lightgray;
    
}
.general-content nav button{
    margin: 10px;
    width: 50%;
    display: flex;
    justify-content: center
}
.general-content section{
    border-bottom: 1px solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 4;
    background-color:gray
}
.general-content aside{
    border: 1px solid;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    background-color:lightgray;
}
.user-panel{
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items:center;
    flex-grow: 3;
    border: 1px solid;
    background-color:white
}
.user-panel div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    border: 1px solid;
    margin-top: 10px;
    margin-bottom: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: lightgray
}
.user-panel div p {
    width: 80%;
}

.general-help{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    margin: 20px;
    border: 1px solid;
    background-color:white;
    padding: 10px;
}
.general-help button{
    margin: 10px;
    width:50%;
    background-color:lightgray;
}
.general-body footer{
    border: 1px solid;
    display: flex;
    justify-content: center;
    color: white;
    background-color:black
}