@import "../general.css";

.general-content section{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

}
.titulo {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: lightgray;

}
.content{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content:space-between;
    flex-grow: 1;
    padding-right: 40px; 
}
.user{
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    flex-grow: 1;
}
.user div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    border: 1px solid;
    margin-left: 15px;
    margin-right: 20px;
}
.user img {
    align-self: center;
    height: 75px;
    width: 75px;
    margin-left: 20px;
    margin-right: 15px;
    
}
.content ul{
    display: flex;
    flex-direction: column;  
    flex-grow: 1; 
    
}
.content ul li{
    display: flex;
    flex-direction:row;
    flex-grow: 1;
}
.content ul li div{
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    flex-grow: 2;
}
.content ul li input{
    flex: 1;
    flex-grow: 1;
}
.submit{
    align-self: flex-end;
    flex-grow: 1;
}
